/* 기본 btn */

.btn {
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
}

/* color */

.red {
  background-color: var(--red);
  color: white;
}

.yellow {
  background-color: var(--yellow);
  color: var(--foreground);
}

.blue {
  background-color: var(--primary);
  color: white;
}

.gray {
  background-color: rgba(128, 128, 128, 0.25);
  color: black;
}
