.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  gap: 16px;
}

.list {
  flex: 1;
  transition: all 0.2s ease-out;
}

.detail {
  flex: 1;
}

.fullWidth {
  flex: 1 0 100%;
  transition: all 0.2s ease-out;
}
