.calendarHeader {
  width: 100%;
  font-size: 24px;
  height: 32px;
  margin-bottom: 12px;
  display: flex;

  // Dropdown 컨테이너
  & > :first-child {
    flex: 1;
    display: flex;
    justify-content: left;
  }

  .pagination {
    flex: 1;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 700;

    .paginationIcon {
      all: unset;
      color: var(--gray);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        color: var(--foreground);
      }
    }
  }

  .classAddButton {
    flex: 1;
    display: flex;
    justify-content: right;
  }
}
