.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 10px;
  width: 100%;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .listContainer {
      display: flex;
      align-items: center;
      .item {
        position: relative;
        font-size: 1.6rem;
        text-align: center;

        &:first-child {
          img {
            width: 50px;
          }
          &:after {
            display: none;
          }
        }

        &:last-child {
          &:after {
            display: none;
          }
        }

        &:after {
          content: "";
          position: absolute;
          top: 55%;
          right: 0;
          width: 1.5px;
          height: 14px;
          background-color: var(--gray);
          transform: translateY(-50%);
        }

        a {
          text-decoration: none;
          transition: color 0.3s;
          display: block;
          padding: 5px 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            color: var(--primary);
          }
        }
      }
    }
    .rightContainer {
      display: flex;
      align-items: end;
      gap: 20px;
      span {
        font-size: 1.8rem;
      }
    }
    .logoutButton {
      background-color: var(--content);
      color: var(--foreground);
      font-weight: bold;

      &:hover {
        background-color: var(--primary);
        color: var(--content);
      }
    }
  }
}
.isvisitted {
  color: var(--primary);
}
