$background: var(--background);

.dropdownContainer {
  position: relative;
  display: inline-block;

  .dropdown {
    background-color: #e0e0e0;
    border: none;
    padding: 4px 12px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 1.4rem;
  }

  .dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $background;
    list-style: none;
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 100;
    max-height: 136px;
    overflow-y: auto; // 넘치면 스크롤
  }

  .dropItem {
    padding: 8px 12px;
    cursor: pointer;
    background-color: $background;
    font-size: 1.2rem;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
