$border-color: #e8e8e8;

.calendarDate {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .calendarRow {
    background-color: var(--background);
    display: flex;
    height: calc(100% / 6); // 높이를 6주 기준으로 설정

    &:last-child > div {
      &:first-child {
        //마지막 주 월요일
        border-bottom-left-radius: 10px;
      }
      &:last-child {
        // 마지막 주 일요일
        border-bottom-right-radius: 10px;
      }
    }
  }
}
