$border-color: #e8e8e8;

.pageTitle {
  padding: 20px 0;
  font-size: 2.4rem;
}
.calendarContainer {
  // width: 1200px;
  height: 880px;
  display: flex; // Flexbox 레이아웃 사용
  flex-direction: column; // Flexbox 방향을 세로로 설정

  .CalendarSection {
    // background-color: var(--content); // 배경색 설정
    width: 100%; // 부모 요소의 너비를 100%로 설정
    height: 100%; // 부모 요소의 높이를 100%로 설정
    display: flex; // Flexbox 레이아웃 사용
    flex-direction: column; // Flexbox 방향을 세로로 설정
    margin-bottom: 1px; // 아래에 여유 공간 추가(서브픽셀 렌더링 오차범위)

    .dayLabel {
      width: 100%;
      background-color: var(--background); // 배경색 설정
      color: var(--gray);
      font-size: 20px; // 글꼴 크기 설정
      display: flex; // Flexbox 레이아웃 사용
      padding: 0; // 기본 패딩 제거
      margin: 0px; // 기본 마진 제거
      list-style: none; // 기본 리스트 스타일 제거

      li {
        flex: 1; // 각 요일이 균등한 너비를 가지도록 설정
        text-align: left; // 텍스트를 왼쪽 정렬
        border: 2px solid $border-color;
        overflow: hidden;
        padding: 1.2rem;
        font-size: 1.7rem;
        margin-right: -2px; // 오른쪽 border가 겹치는 것을 방지
        margin-bottom: -2px; // 아래쪽 border가 겹치는 것을 방지

        box-sizing: border-box;

        &:first-child {
          border-top-left-radius: 10px; // 첫 번째 요소 왼쪽 위
        }

        &:last-child {
          margin-right: 0;
          border-top-right-radius: 10px; // 마지막 요소 오른쪽 위
        }
      }
    }
  }
}
